@import url(../font/gosha/stylesheet.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

nav {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.header_title {
  margin: 192px auto 258px;
}

.header_title_content {
  max-width: 940px;
  margin: 0 auto;
}

.vector_group {
  position: absolute;
  left: 120px;
}

.vector_group img {
  margin-right: 24px;
}

.header_title_content {
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #2D2D35;
}

.header_footer {
  background-color: #f4f4f5;
}

.header_footer .header_footer__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 32px 0 47px;
  display: flex;
  justify-content: space-between;
}

.header_footer .header_footer__container h2 {
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.header_footer .header_footer__container span {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #6c6c72;
}

.main_title {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.main_vector_group_1 {
  position: absolute;
  right: 100px;
  margin-top: 15px;
}

.main_vector_group_1 img {
  margin-right: 48px;
}

.vector_group__ img {
  margin-right: 48px;
}

.main__arr-three img {
  margin-right: 48px;
}

.main__container {
  max-width: 900px;
  margin: 120px auto 0;
}

h2 {
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  margin: 0;
}

.main__container .main__articles span {
  width: 164px;
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #ff5a2d;
  }


.main__container .main__articles .main__article{
  max-width: 716px;
  margin: 0 auto;
}

.p_section_1,
.p_section_2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #6c6c72;
  margin: 0 0 55px 0;
}

.p_section_2 {
  margin-top: 12px;
  margin-bottom: 0px;
}

.main__img_column {
  display: flex;
  margin: 153px 0 100px;
}

.column-left img {
  margin: 0 20px 20px 0;
}

.column-right img {
  margin: 0 0 18px 0;
}

.main__stages_title {
  display: flex;
}

.main__stages h2 {
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
}

.vector_group_ {
  position: absolute;
  left: 100px;
  margin-top: 7px;
}

.vector_group_ img {
  margin-right: 48px;
}

.main__container .main__stages .main__article {
  max-width: 760px;
  margin: 0 auto;
}

.main__container .main__stages .main__article ul {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #6c6c72;
  list-style-type: none;
}

.main__container .main__stages .main__article ul li {
  margin-bottom: 24px;
}

.main__container .main__stages .main__article ul li img {
  margin: 0 20px 5px 0;
}

.main__container .main__img {
  display: flex;
  margin: 120px 0 100px;
}

.main__container .main__img .column-left img {
  margin: 0 20px 20px 0;
}

.main__container .main__img .column-right {
  margin-top: 78px;
}

.main__container .main__img .column-right img {
  margin: 0 0 18px 0;
}

.main__container .main__results {
  margin-bottom: 120px;
}

.main__results_title {
  display: flex;
}

.vector_group__ {
 position: absolute; 
 margin-top: 10px;
 right: 200px;
}

.main__container .main__results h2 {
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 48px;
}

.main__container .main__results .main__article {
  max-width: 760px;
  margin: 0 auto;
}

.main__container .main__results .main__article ul {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #6c6c72;
  list-style-type: none;
}

.main__container .main__results .main__article ul li {
  margin-bottom: 24px;
}

.main__container .main__results .main__article ul li img {
  margin: 0 20px 5px 0;
}

.main__container .main__project {
  margin-bottom: 120px;
}

.main__container .main__project h2 {
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 48px;
}

.main__article {
  color: #6C6C72;
}

.main__container .main__project .main__article {
  margin: 0 auto;
  max-width: 902px;
  display: flex;
  justify-content: space-between;
}

.main__container .main__project .main__article h2 {
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #2d2d35;
  margin-bottom: 12px;
}

.main__container .main__project .main__article span {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #6c6c72;
}

.main__citation {
  min-height: 600px;
  width: 100%;
  background-color: #f4f4f5;
}

.main__citation img {
  margin-top: 75px;
}

.main__citation .main__container-citation {
  margin: 0 auto;
  max-width: 900px;
}

.main__citation .main__container-citation h2 {
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}

.main__citation .main__container-citation span {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #6c6c72;
}

.main__citation .main__container-citation .main__article {
  max-width: 716px;
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.main__citation .main__container-citation .content-author {
  margin-top: 48px;
  float: right;
}

footer {
  height: 400px;
  background-color: #f4f4f5;
}

@media (max-width: 1439px) {
  .main_vector_group_1,
  .vector_group__,
  .vector_group_ {
    display: none;
  }
  .header_title .vector_group {
    display: none; 
  }
}

@media (max-width: 900px) {
  .header_title .header_title_content {
    font-size: 40px;
  }
  .main__citation .main__container-citation img {
    margin-top: 10px;
  }
  .main__citation .main__container-citation .main__article {
    font-size: 15px;
  }
  .header_footer .header_footer__container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  .header_footer .header_footer__container .header_footer__container__content {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  .main__container .main__img_column {
    flex-direction: column;
  }
  .main__container .main__img_column .column-left {
    display: flex;
    flex-direction: column;
  }
  .main__container .main__img_column .column-left img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .main__container .main__img_column .column-right {
    display: flex;
    flex-direction: column;
  }
  .main__container .main__img_column .column-right img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .main__container .main__img {
    flex-direction: column;
  }
  .main__container .main__img .column-left {
    display: flex;
    flex-direction: column;
  }
  .main__container .main__img .column-left img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .main__container .main__img .column-right {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .main__container .main__img .column-right img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .main__project .main__article {
    display: flex;
    flex-direction: column;
  }
  .main__project .main__article .main__container-block {
    max-width: 348px;
    margin: 0 auto 40px;
  }
  .main__project .main__article img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 440px) {
  .main__img_column img,
  .main__img img {
    width: 100vw;
  }
}
